@mixin box-sizing($value: border-box) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	-o-box-sizing: $value;
	-ms-box-sizing: $value;
	box-sizing: $value;
}

@mixin transition($property: all, $time: 0.2s) {
	-webkit-transition: $property $time;
	transition: $property $time;
}

@mixin center-element {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@mixin button($background: $button-background, $background-hover: $button-hover-background, $text: #fff, $text-hover: $button-hover-text) {
	background-color: $background;
	color: $text;
	padding: $button-padding;
	border-radius: $global-border-radius;
	font-size: 15px;
	display: inline-block;
	margin: 10px;
	cursor: pointer;

	@include transition;

	&:hover {
		background-color: $background-hover;
		color: $text-hover;
		border-radius: 0;
	}
}

@mixin circle($width: 200px) {
	width: $width;
	height: $width;
	border-radius: $width / 2; 
}

@mixin clearfix {
	clear: both;
	overflow: auto;
}